<div class="container-fluid">
  <div class='row'>
    <%= image_tag 'bull_800.png', id:'small_logo'%>
  </div>
  <div class='row'>
    <h1 class="red">
      <span class="glyphicon glyphicon-remove"></span><br>
    </h1>
  </div>
  <div class='row'>
    <h2>
      Sorry to hear that.<br>
      Just kidding... we didn't want you there anyway
    </h2>
  </div>
</div>
