<div class="container-fluid">
  <div class='row'>
    <%= image_tag 'goat_redemption_blue_small.png'%>
  </div>
  <div class='row'>
    <h1 class="red">
      <span class="glyphicon glyphicon-remove"></span><br>
    </h1>
  </div>
  <div class='row'>
    <h2>
      Sorry to hear that.<br>
      Hopefully we'll see you next year!
    </h2>
  </div>
</div>
