<div class="container-fluid">
  <h1>New User</h1>

  <%= form_tag('/users') do %>
    <div class='form-group'>
      <%= text_area_tag(:csv, nil, :class => 'form-control', :placeholder => 'FirstName, LastName, Email') %>
    </div>
    <%= button_tag('Submit', :class => 'btn btn-primary') %>
  <% end %>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $("#csv").autoGrow();
  });
</script>
