<div class="container">
  <div id='header'>
    <%= image_tag 'goat_redemption_blue_light_no_year.png', id: 'rsvp_header_img'%>
    <h3>
      Jul 29-31, 2015<br>
      Leesport, PA<br><br>
      RSVP for: <%= @user.full_name %>
    </h3>
  </div>
  <div id='rsvp' class='col-sm-6 col-sm-offset-3'>
    <p><%= link_to('Attending', confirm_user_path(@user), class: 'btn btn-success btn-lg btn-block')%></p>
    <p><%= link_to('Missing Out', confirm_user_path(@user), class: 'btn btn-danger btn-lg btn-block')%></p>
  </div>
</div>
