<div class="container-fluid">
  <div class='row'>
    <%= image_tag 'bull_800.png', id:'small_logo'%>
  </div>
  <div class='row'>
    <h1 class="green">
      <span class="glyphicon glyphicon-ok"></span><br>
      Success!
    </h1>
  </div>
  <div class='row'>
    <h3>
      Your RSVP and shirt size have been recorded.<br>
      Please don't forget to pay <span style='color:#337ab7'>$85</span> via Venmo.<br>
      Your spot isn't reserved until you do so!<br>
      Venmo Username @aweist
    </h3>
  </div>
  <div class='row'>
    <a class='btn btn-primary btn-lg' target="_blank" href="https://venmo.com/?txn=pay&audience=private&recipients=aweist&amount=85&note=Teknobarn%202K17%20from%20<%=@user.first_name%>">PAY VIA VENMO</a>
    <br>
    <br>
  </div>
</div>
