<div class="container-fluid">
  <div class='row'>
    <%= image_tag 'goat_redemption_blue_small.png'%>
  </div>
  <div class='row'>
    <h1 class="green">
      <span class="glyphicon glyphicon-ok"></span><br>
      Success!
    </h1>
  </div>
  <div class='row'>
    <h2>
      Your RSVP and shirt size have been recorded.<br>
      Please don't forget to pay $85 via Venmo.<br>
      Your spot isn't reserved until you do so!
    </h2>
  </div>
  <div class='row'>
    <a class='btn btn-primary btn-lg' href="https://venmo.com/?txn=pay&audience=private&recipients=aweist&amount=85&note=Teknobarn%202K16%20from%20<%=@user.first_name%>">PAY VIA VENMO</a>
  </div>
</div>
