<div class="container-fluid">
  <%= image_tag 'goat_redemption_blue_light_no_year.png' %>
  <h1>Friday, July 29th - Sunday, July 30th</h1>
  <br>
  <h1>Teknobarn is located at:
  <br>
  135 Gernants Church Rd
  <br>
  Leesport, PA 19533
  </h1>
  <br>

  <h2>
    Civil War pong in a Civil War-era barn<br>
    Schuylkill River Tubing<br>
    Pong tournament<br>
    Giant Slip 'n' Flip<br>
    Bubble Soccer<br>
    Bonfire<br>
    Volleyball<br>
    Tekno<br>
  </h2>

  <h2>
    <br>
    <br>
    Catering Provided By<br>
    <a href="http://gourmandpa.com/">Gourmand Food Truck</a>
    <br>
    <br>
  </h2>

  <h2 id='description'>

  </h2>
  <%= render partial: "images" %>
</div>