<div class="container-fluid">
  <%= image_tag 'bull_800_underlines.png', id:'logo' %>
  <h1>Friday, July 21st - Sunday, July 23rd</h1>
  <br>
  <h1>Teknobarn is located at:
  <br>
  135 Gernants Church Rd
  <br>
  Leesport, PA 19533
  </h1>
  <br>

  <h2>
    Civil War pong in a Civil War-era barn<br>
    Schuylkill River Tubing<br>
    Pong tournament<br>
    Giant Slip 'n' Flip<br>
    Bonfire<br>
    Volleyball<br>
    Camping<br>
  </h2>

  <h2>
    <br>
    <br>
    Catering Provided By<br>
    <a href="http://www.itsjustbarbecue.com/">It's Just Barbecue</a>
    <br>
    <br>
  </h2>

    <div class='col-sm-6 col-sm-offset-3'>
    <h1>
    FAQ
    </h1>
    <h2 class='teal'>Where do we sleep?</h2>
    <h3>In tents around the property.  You need to bring a tent and a sleeping bag, pillow, and some layers in case it gets cool.  If you can't get a tent, let us know.  Lots of people will have extras and/or extra room.</h3>
    <h2 class='teal'>Food?</h2>
    <h3>All food will be provided.  There will be plenty the entire weekend, but feel free to bring extra snacks if you don't like sharing</h3>
    <h2 class='teal'>Booze?</h2>
    <h3>It's included.  There's a LOT of booze</h3>
    <h2 class='teal'>Tubing? Do I need a tube?</h2>
    <h3>Nope... that's included in the cost</h3>
    <h2 class='teal'>Clothes?</h2>
    <h3>You need a bathing suit, and warm summer clothes.  We'll be outside the entire weekend.  Also bring some clothes that you don't mind if they get a bit dirty.  Last year it rained heavily, so something waterproof is probably a good idea as well.</h3>
    <h2 class='teal'>What else to bring?</h2>
    <h3>BRING A TOWEL(S)
      <br>
      Pillow, bug spray, sunscreen, flashlight/headlamp, old sneakers. You know... camping stuff.
    </h3>
    <h2 class='teal'>Pong Tournament?</h2>
    <h3>Email Andy your team of 2 and team name.  Reminders will be sent later.</h3>
  </div>
  <%= render partial: "images" %>

</div>
