body{
  background-color: rgba(0,0,0,0.9);
  background-image: url('/assets/bg.png');
  text-align: center;
  color: #333333;
}

#logo{
  max-width: 550px;
  width:75%;
  margin-bottom: 20px;
  margin-top: 20px;
}

.green{
  color:green;
}

.red{
  color:red;
}

.teal{
  color:#337ab7;
}
