// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  color: #333333;
  #rsvp_header_img{
    width:75%;
    max-width: 600px;
  }
  #users-report{
    background-color: #eeeeee;
  }
  #small_logo{
    max-width: 350px;
  }
}
