// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  color: #676767;
  #rsvp_header_img{
    width:75%;
    max-width: 550px;
  }
}
